<!doctype html>
<html lang="en">
	<%- include('partials/metadata', { title }) %>
	<body>
		<div id="root">
			<h1><%= locals.error.status ?? 500 %></h1>
			<p><%= locals.error.message %></p>
			<a href="/">Go back</a>
			<% if (locals.nodeEnv !== 'production') { %>
			<pre><%= locals.error.stack %></pre>
			<% } %>
		</div>
	</body>
</html>
