<!doctype html>
<html lang="en">
	<%- include('partials/metadata', { title }) %>
	<body>
		<div id="root">
			<%- include('partials/navbar', { title }) %> <%-
			include('partials/footer', { title }) %>
		</div>
	</body>
</html>
