<header class="navbar">
	<h1 class="logo" title="Homepage">
		<a href="/">Inventory app</a>
	</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/manage-categories/">Manage categories</a></li>
		</ul>
	</nav>
</header>
